<h1>思想</h1>
<% @books.each do |t| %>
  <% if t.category == "thought" %>  
      <%= t.namer %>
      <%= t.author %>
      <%= t.year %>
      <%= t.company %>
      <%= t.learn %>
      <%= t.practice %>
      <%= t.created_at %>
    <%= link_to "詳細へ", book_path(t.id) %>
    <%= link_to "編集する", edit_book_path(t.id) %> 
    <%= button_to "削除する", book_path(t.id), method: :delete %>
  <% end %>
<% end %>
<%= link_to "投稿一覧に戻る", books_path %>